
body{
    background-color: black;
    color: white;
    
  }
  button{
    background-color: #000080;
    border-radius: 0.3125rem;
    margin-left: 0.3125rem;
    margin-right: 1.25rem;
    padding: 0px;
    text-align: center;
    width: 7.5rem;
    height: 1.5625rem;
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
  }
  button a{
    text-decoration: none;
    text-align: center;
    
  }
  
  header{
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top: 0px;
    width: 100%;
    max-width: 100%;
    z-index: 1;
    background-color: black;
    
  }
  .navigation{
    display: flex;
    z-index: 1;
    width: 100%;
    background-color: black;
    opacity: 0.9;
    justify-content: flex-end;
    padding-left: 1.875rem;
   
  }
  .navigation ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-evenly;
  
  }
  li{
    text-align: center;
    padding: 0.4375rem;
    font-family: 'Manrope', sans-serif;
    font-size: 2rem;
    
  }
  a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;

  }
  a:hover{
    color:white;
    text-decoration: none;
  }
  
  h1{
    color: white;
    width: 100%;
    height: 100%;
    padding: 3.125rem;
    font-size: 2.25rem;
    align-self: center;
    font-family: 'Merriweather', serif;
  }
  .mission{
    display: flex;
    justify-content: space-between;
    
  }
  .mission img{
    z-index:0;
    width: 100%;
    height: 100%;
  }
  .figure-container{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  
  }
   h2{
     padding-top: 1.25rem;
    text-align: center;
    font-size: 2rem;
    font-family: 'PT Sans', sans-serif;
  }
  
   figure img{
       display:flex;
    width: 25rem;
    height: auto;
  }
  figure{
    width: 25rem;
    border: 0.1875rem solid #3CB371; 
    margin: 3rem 5rem;
    justify-self: center;

    
  }
  figcaption{
    padding: 0.625rem 1rem;
    font-size: 1.25rem;
    color: white;
    font-family: 'PT Sans', sans-serif;
  }
  .artificial-intelligence{
    margin-top: 1.25rem;
  }
  .technology-solutions{
    margin-bottom: 0px;
    max-width: 100%;
  }
  
  
  .partner-images{
   display: flex;
   justify-content: center;
   flex-flow: row wrap;
   align-items: center;
   margin: 1.5625rem 1.5625rem;
  }
  .partner-images h2{
    width: 100%;
    padding-bottom: 1rem;
  }
  .partner-images img{ 
  width: 3.125rem;
  padding: 0.625rem;
  }
  .team-members-text{
    text-align: center;
    font-weight: bold;
    font-size: 1.375rem;
  }
  .team-members{
    width: 30%;
    border: none;
    margin: 1rem 1rem;
    
  }
  .team-members-text h3{
   color: white;
   padding-bottom: 1rem;
   font-family: 'Alumni Sans Pinstripe', sans-serif;
  }
  .team-members-text p{
    font-size: 1rem;
    color: white;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
  }
  .team-members-image{
    width: 100% !important;
  }
  
  
  .team{
    width: 100%;
    background-color: #383838;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    bottom:0px; 
    margin-top:0px;
  }
  .team h2{
    color: white;
    width: 100%;
    font-family: 'PT Sans', sans-serif;
    padding-top: 1.25rem;
  }
  .team img{
    width: 100%;
    height: auto;
    border-radius: 50%;
  
  }
  
  footer{
    display:flex;
    background-color: #3CB371;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    justify-content: space-evenly;
   
  }
  
.icons{
    display: flex;
    justify-content: flex-start;
    width: 50%;
    padding-left: 0.5rem;
}
.icons img{
    display:flex;
    width: 1rem;
    height: 1rem;
    margin-bottom: 0.7rem;
    padding-right: 0.5rem;
    justify-self: flex-start;
    
}
.copyright-icon img{
    width: 1rem;
    height: 1rem;
    margin-bottom: 0.4rem;
    padding-right: 0.4rem;
   justify-self: flex-start;
    
}
.copyright-icon{
    display: flex;
    width:50%;
    justify-content: flex-end;

}

.footer-text{
    font-size: 1rem;
    padding-bottom: 0.7rem;
    color:black;
    font-family: 'PT Sans', sans-serif;
    padding-right: 0.5rem;
}
.contact-us-heading{
    font-size: 2rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
}
.email{
    color: black;
    padding-left: 3rem;
    font-family: 'PT Sans', sans-serif;
    display: flex;
    flex-flow: column;
}
.form-submit{
    margin-bottom: 1rem;
    background-color: yellow;
    color: black;
}
textarea{
    width: 10rem;
}
@media only screen and (min-width: 992px){
    figure{
        margin: 3rem 10rem;
    }
    
   
}
@media only screen and (max-width: 480px){
 a{
     font-size: 0.4rem;
     max-width: 20rem;
     font-weight: bold;
 }
 header{
     max-width:100%;
     display: fixed;
 }
 .mission img{
     display: none;
 }
 .mission h1{
     padding-left: 2rem;
     font-size:2rem;
     width: 15rem;
 }
body{
    margin-top:2rem;
    
}
 button{
     width: 4rem;
     height: 1.5rem;
     margin-left: 0.2rem;
     
 }
 
 .navigation ul{
     max-width: 100%;
     display:flex;
 }
 .header{
     display: flex;
     justify-content: center;
     margin-bottom: 100rem;
 }
 .navigation{
     padding-left:0rem;
     display: flex;
     justify-content: flex-end;

 }
 ul{
     padding-left:2rem;
     display: flex;
     justify-content: space-around;
 }
 li{
    text-align: center;
    padding: 0.1rem;
    font-family: 'Manrope', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    
  }
  .team{
      display: flex;
      flex-flow: column wrap;
      align-items: center;
     
  }
  
 .technology-solutions{
     max-width: 100%;
     flex-shrink: 2;
 }
 .figure-container{
   
 }
 footer{
     max-width: 30rem;
     display: flex;
     justify-content: space-evenly;
 }
 .icons{
    display: flex;
    justify-content: flex-start;
    width: 50%;
    padding-left: 0.2rem;
}
.email{
    color: black;
    padding-left: 0rem;
    font-family: 'PT Sans', sans-serif;
    display: flex;
    flex-flow: column;
}
}